<div class="container">
    <div class="row">
        <div class="col-lg-12">
			<%- model_class = Slider -%>
			<div class="page-header">
			  <h1>Crear Slide</h1>
			</div>
			<%= render :partial => 'form' %>
		</div>
	</div>
</div>