<div class="request-grid">
  <% obj.each do |pet| %>
    <div class="col-md-4 pet-card-wrapper">
      <div class="request-card">
        <div class="request-info col-md-6">
          <%= link_to image_tag(pet.photo.url(:thumb)), pet_path(pet) %>
        </div>
        <div class="request-card-links col-md-6">
          <div>
            <% if Adoption.adoption_status(@user, pet, "created") %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        adoption_path(userId: @user.id, id: pet.id),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>

              <span class="label label-warning">Request was submitted!</span>
            <% elsif Adoption.adoption_status(@user, pet, "rejected") %>
              <span class="label label-primary">This request was rejected!</span>
            <% else %>
              <span class="label label-danger">Pet was returned!</span>
            <% end %>
          </div>      
        </div>
      </div>
      <% if current_user && current_user.admin? %>
        <div class="reject-reason">
          <p><%= Adoption.get_adoption_reject_reasons(@user, pet) %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>