<div class="container">
  	<div class="row">
    	<div class="col-lg-12">
			<div class="page-header">
			  <h1>Macotas Adoptadas</h1>
			</div>

			<div id="filter-and-paginate-succesful-adoptions">
				<%= render 'filter_and_paginate_succesful_adoptions' %>
			</div>
		</div>
	</div>
</div>