<div class="container">
	<div class="row">
	    <div class="col-lg-12">
			<%- model_class = Pet -%>
			<div class="page-header">
			  	<h1>Mascotas Disponibles para Adopción</h1>
			  	<%= link_to new_pet_path, class: 'icon-title' do %>
					<i class="fa fa-plus-circle" data-toggle="tooltip" data-placement="bottom" title="Agregar Mascota"></i>
				<% end %>
			</div>
	    </div>
	</div><!--/row-->
</div> <!-- /container -->

<div id="filter-available-pets">
	<%= render 'filter_available_pets' %>
</div>
