<div class="container">
	<div class="row">
    <div class="col-lg-12">
    	<div class="page-header">
    		<h1>Sobre esta aplicación</h1>
    	</div>
    	<div class="app-description">
			<p>Esta es un aplicación creada para formentar la adopción de mascotas, creemos que el ejemplo es una parte muy importante para crear cultura, por lo tanto nos diferenciamos de otras aplicaciones ya que brindamos un perfil para cada una de las mascotas, asi cada uno de los dueños puede actualizar el estado de la mascota adoptada y permitirle a otros ver el beneficio mutuo de la adopción.</p>

			<p>Esperamos crecer y extender esta aplicación para brindar otros servicios, si tienes alguna sugerencia no dudes en contactarnos.</p>
			<%= image_tag 'puppy.jpg' %>
		</div>
	</div>
</div>