<div class="container">
	<div class="row">
	    <div class="col-lg-12">
	    	<div class="page-header">
	    		<h1>Proceso de Adopción</h1>
	    	</div>

			<section class="cd-timeline js-cd-timeline">
				<div class="cd-timeline__container">
					<div class="cd-timeline__block js-cd-block">
						<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
							<i class="fa fa-paw"></i>
						</div> <!-- cd-timeline__img -->

						<div class="cd-timeline__content js-cd-content">
							<h2>Busqueda de la Mascota</h2>
							<p>Crea tu cuenta y busca la mascota que deseas adoptar.</p>
						</div> <!-- cd-timeline__content -->
					</div> <!-- cd-timeline__block -->

					<div class="cd-timeline__block js-cd-block">
						<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
							<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						</div> <!-- cd-timeline__img -->

						<div class="cd-timeline__content js-cd-content">
							<h2>Solicitud de Adopción</h2>
							<p>Crea una solicitud de adopción para la mascota que deseas adoptar. En la informacion de la mascota podrás ver donde se encuentra esta.</p>
						</div> <!-- cd-timeline__content -->
					</div> <!-- cd-timeline__block -->

					<div class="cd-timeline__block js-cd-block">
						<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
							<i class="fa fa-check-square" aria-hidden="true"></i>
						</div> <!-- cd-timeline__img -->

						<div class="cd-timeline__content js-cd-content">
							<h2>Selección del Adoptante</h2>
							<p>El dueño de la mascota elegira uno de los solictantes com dueño de la mascota en adopción. El dueño de la mascota podra ver los datos del solicitante y contactarlo de ser necesario.</p>
						</div> <!-- cd-timeline__content -->
					</div> <!-- cd-timeline__block -->

					<div class="cd-timeline__block js-cd-block">
						<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
							<i class="fa fa-handshake-o" aria-hidden="true"></i>
						</div> <!-- cd-timeline__img -->

						<div class="cd-timeline__content js-cd-content">
							<h2>Proceso de Coordinación</h2>
							<p>Ambos dueño y adoptante de la mascota recibirán un correo con la información de contacto para que coordinen el movimiento de la mascota a su nuevo hogar.</p>
							<a href="#0" class="cd-timeline__read-more">Read more</a>
						</div> <!-- cd-timeline__content -->
					</div> <!-- cd-timeline__block -->

					<div class="cd-timeline__block js-cd-block">
						<div class="cd-timeline__img cd-timeline__img--location js-cd-img">
							<i class="fa fa-pencil-square" aria-hidden="true"></i>
						</div> <!-- cd-timeline__img -->

						<div class="cd-timeline__content js-cd-content">
							<h2>Entrega de la Mascota</h2>
							<p>Se realizará la entrega fisica de la mascota.</p>
							<a href="#0" class="cd-timeline__read-more">Read more</a>
						</div> <!-- cd-timeline__content -->
					</div> <!-- cd-timeline__block -->

					<div class="cd-timeline__block js-cd-block">
						<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
							<i class="fa fa-comments" aria-hidden="true"></i>
						</div> <!-- cd-timeline__img -->

						<div class="cd-timeline__content js-cd-content">
							<h2>Actualizar el Perfil</h2>
							<p>Es importante que actualices el perfil de la mascota para que otros puedan ver el beneficio mutuo de la adopción.</p>
						</div> <!-- cd-timeline__content -->
					</div> <!-- cd-timeline__block -->
				</div>
			</section> <!-- cd-timeline -->

		</div>
	</div>
</div>