<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
              <h1>Contáctenos</h1>
            </div>

            </div>
              <div class="user-card-wrapper col-md-4">
                <div class="contact-card">
                  <i class="fa fa-globe"></i>
            			<p>Heredia, Costa Rica</p>
                </div>
              </div>
              <div class="user-card-wrapper col-md-4">
                <div class="contact-card">
                  <i class="fa fa-envelope"></i>
            			<a href="mailto:info@tripcustomizers.com"><p>info@tripcustomizers.com</p></a>
                </div>
              </div>
              <div class="user-card-wrapper col-md-4">
                <div class="contact-card">
                  <i class="fa fa-phone-square"></i>
            			<p>506-83115197</p>
                </div>
              </div>
             </div>

            <div class="col-xs-12"><hr></div>

            <div class="contact_form">
            	<div class="form">
            		<%= render :file => '/messages/new' %>
            	</div>
            </div>	
        </div>
    </div>
</div>
