<div class="container">
  	<div class="row">
    	<div class="col-lg-12">
			<div class="page-header">
			  <h1>Editar Información del Usuario</h1>
			</div>
			<%= render :partial => 'form' %>
		</div>
	</div>
</div>
