<div class="container">
	<div class="row">
	    <div class="col-lg-12">
            <div class="error">
                <h1>Error 422</h1>
                <p>Tu solicitud no puede ser procesada!</p>
            </div>
        </div>
    </div>
</div>
