<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1>La solicitud para ser el dueño de <%= @adoption.animal.name %> se ha reactivado!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>La solicitud fue reactivada con éxito, esto se dio ya que el dueño decidio no conservar la mascota.</p>

		<p>En caso que desees cancelar la solicitud accede a tu perfil, haciendo click <%= link_to 'aqui', my_profile_url	%>.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>