<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
    	.footer-image{width: 150px;}
		</style>
	</head>
	<body>
		<h1>Has creado una solicitud para ser el dueño de <%= @adoption.animal.name %>!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>La solicitud fue creada con exito.</p>

		<p>Pronto recibirá una respuesta.</p>

		<%= image_tag 'image-dog.png' %>
	</body>
</html>