<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;}
		</style>
	</head>
	<body>
		<h1>Has creado una solicitud para ser el dueño de <%= @adoption.animal.name %>!</h1>

		<% image_tag @adoption.animal.photo, class: 'round-image' %>

		<p>La solicitud fue creada con exito.</p>

		<p>Pronto recibirá una respuesta.</p>

		<% image_tag 'image-dog.png' %>
	</body>
</html>