<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1><%= @adoption.user.full_name %> ha eliminado la solicitud para ser el dueño de <%= @adoption.animal.name %>!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>Lamentamos comunicarte que una solicitud para adoptar a tu mascota fue eliminada.</p>

		<p>No te preocupes, pronto recibirás más solicitudes.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>