<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1>Lo sentimos, la solicitud para ser el dueño de <%= @adoption.animal.name %> no se pudo completar!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>La solicitud no se pudo completar debido a que otra persona fue asignada como dueño de la mascota.</p>

		<p>En caso que desees aplicar para ser el dueño de una mascota puedes hacer click <%= link_to 'aqui', pets_for_adoption_url %>.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>