<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1>Has decido volver a poner en adopción a <%= @adoption.animal.name %>!</h1>

		<%= image_tag @adoption.animal.photo.url(:large), class: 'round-image' %>

		<p>La solicitud se retornó con éxito.</p>

		<p>Si ya habias indicado que recibiste la mascota se activará un botón llamado "Corservar Mascota", el cual permitirá remover la mascota del proceso adopción en caso que decidas conservarla.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>