<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;}
		</style>
	</head>
	<body>
		<h1>Has borrado el prefil de <%= @pet.name %>!</h1>

		<%= image_tag @pet.photo.url(:large), class: 'round-image' %>

		<p>El perfil de la mascota ha sido eliminado con exito.</p>

		<%= image_tag 'image-dog.png' %>
	</body>
</html>