<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<style type="text/css">
			.round-image {border-radius: 100%;     
										border: 3px solid #fff;
    								box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    								width: 200px;
    								}
		</style>
	</head>
	<body>
		<h1>Has borrado el prefil de <%= @pet.name %>!</h1>

		<%= image_tag @pet.photo.url(:large), class: 'round-image' %>

		<p>El perfil de la mascota ha sido eliminado con éxito.</p>

		<p>Le agradecemos por el adecuado uso de esta herramienta.</p>

		<%= image_tag 'image-mailer.png' %>
	</body>
</html>