<%#
<% if Pet.pet_editor(@pet, current_user) %>
  <%#<%= link_to new_pet_post_path(@pet), class: "icon-title-h4 post-position-h4" do %>
    <%#<i class="fa fa-plus-circle"></i>
  <% end %>
<%#<% end %>

<% if Pet.pet_editor(@pet, current_user) %>
  <h4>Crear Publicación</h4>
  <%= render :partial => 'posts/form' %>
<% end %>

<% if @posts && @posts.count > 0 %>
  <div class="profile-bar">
    <h4>Publicaciones Recientes</h4>
    <div class="posts-wrapper">
      <%= render :partial => 'posts/post' %>
      <div class="add_five_posts">
        <%= link_to "Mostrar mas publicaciones!", add_five_path(count: @count, pet_id: @pet.slug), remote: :true, :class => 'btn btn-primary add_five_link' %>
      </div>
    </div>
  </div>
<% else %>
  <h4>No se han creado publicaciones!</h4>
<% end %>





