<%#
<% if Pet.pet_editor(@pet, current_user) %>
  <%#<%= link_to new_pet_post_path(@pet), class: "icon-title-h4 post-position-h4" do %>
    <%#<i class="fa fa-plus-circle"></i>
  <% end %>
<%#<% end %>

<% if Pet.pet_editor(@pet, current_user) %>
  <h4>Crear Publicación</h4>
  <%= render :partial => 'posts/form' %>
<% end %>

<div class="profile-bar">
  <% if @posts && @posts.count > 0 %>
    <h4 class="bottom-line">Publicaciones Recientes</h4>
    <div class="posts-wrapper">
      <%= render :partial => 'posts/post' %>
      <% if !Post.posts_less_or_equals_five(@pet, session[:count]) %>
        <div class="add_five_posts">
          <%= link_to "Mostrar mas publicaciones!", add_five_path(count: @count, pet_id: @pet.slug), remote: :true, :class => 'btn btn-primary add_five_link' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4>No se han creado publicaciones!</h4>
  <% end %>
</div>




