/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require devise_bootstrap_views
 *= require font-awesome
 *= require_self

 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'

 *= require prettyphoto-rails

 *= require slick
 *= require slick-theme
 */

textarea {
	resize: none;
}

h1, h2, h3{
 	font-family: 'Merriweather';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
 }

 h4{
 	margin-bottom: 0;
 	padding-bottom: 10px;
 	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
 }

.check-box{
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

.user-index-image{
	img{
		border-radius: 100%;
	}
}

.request-grid{
	overflow: auto;
}

.adoption-grid{
	overflow: auto;

	img{
		margin: 0 15px 10px 15px;
		border: 3px solid #fff;
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}

	p{
		text-align: justify;
	}

	.adoption-arrow{
		font-size: 60px;
		position: relative;
		top: 15px;
		color: #3097D1;
	}
}

.category-card,
.adoption-card{
	border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}

.user-card-wrapper{
	margin-bottom: 30px;
}

.contact-card,
.user-card{
	border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 15px 30px 15px;
    text-align: center;

    span{
    	padding-right: 5px;
    }

    img{
    	margin-bottom: 25px;
    }

    p{
    	margin-bottom: 3px !important;
    }

    i{
    	font-size: 80px;
    	padding-bottom: 10px;
    	color: #357ebd;
    }
}

.users-actions{
	padding-top: 20px;
}

.category-actions{
	padding-bottom: 15px;
}

.adopters-pet{
	margin-bottom: 60px;
}

/************************************FILTER PETS************************************/

.filter-wrapper{
	overflow: auto;
	padding-top: 15px;
	margin-bottom: 40px;
	border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    border-radius: 5px;

    select, input{
    	border-radius: 15px;
    }

    h4{
    	text-align: center;
    }
}

/************************************PAGINATION***********************************/

.pagination{
	.next a{
		visibility: hidden;
		position: relative;
		padding: 0;
		width: 37px;

		&:before{
			visibility: visible;
			position: absolute;
			font-size: 20px;
			content: "\f101";
			font-family: FontAwesome;
			background-color: #fff;
	    border: 1px solid #ddd;
	    border-color: #ddd;
	    padding: 2px 12px;
	    left: -1px;
	    top: -1px;

	    &:hover{
	    	background-color: #eee;
	    }
		}
	}

	.prev a{
		visibility: hidden;
		position: relative;
		padding: 0;
		width: 37px;

		&:before{
			visibility: visible;
			position: absolute;
			font-size: 20px;
			content: "\f100";
			font-family: FontAwesome;
			background-color: #fff;
	    border: 1px solid #ddd;
	    border-color: #ddd;
	    padding: 2px 12px;
	    left: -1px;
	    top: -1px;

	    &:hover{
	    	background-color: #eee;
	    }
	  }
	}
}

/************************************PETS SHOW************************************/

.adoption-card-photo,
.user-adopter-photo,
.profile-user-photo {
    img{
    	border-radius: 50%;
    }   
}

.icon-title {
	float: right;
    position: relative;
    font-size: 70px;
    top: -76px;
    margin-bottom: -76px;
    color: #3097D1;
    border-radius: 100%;
}

.icon-title-h4{
    font-size: 50px;
    color: #3097D1;
    border-radius: 100%;
    display: block;
    text-align: center;
}

.post-position-h4{
	float: right;
	position: relative;
	top: -15px;
    margin-bottom: -32px;
}


/************************************ACTIVE LINK************************************/

.active{
	color: white !important;
}

.active-pet-panel{
	color: white !important;

	&:after{
		position: absolute;
	    content: '';
	    margin-left: -27px;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #f5f8fa;
	    top: 25px;
	}
}

/************************************HEADER************************************/

.user-image-header{
	float: left;
    width: 60px;
    position: relative;
    top: 10px;

}

.user-image-position{
	float: right;
    padding-left: 20px;
}

.invert-color{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.collapse-line-height{
	line-height: 0px;
}

.access-link{
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 25px 0px 10px 10px;
	border-radius: 15px;
	float: right;
	background-color: transparent;
}


body{
	background-color: #f5f8fa;
}

/************************************PET************************************/

.pet-grid{
	overflow: auto;
}

.pet-card-wrapper{
	padding-bottom: 30px;
}

.pet-card{
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: #fff;
	overflow: hidden;
    border-radius: 5px;
}

.pet-card-cover{
	height: 170px;
	overflow: hidden;
    position: relative;
	text-align: center;

	img{
		margin: 0 -100% 0 -100%;
		height: 100%;
    top: 0;
    bottom: 0;
	}

	i{
	    position: absolute;
	    color: #fff;
	    right: 20px;
	    top: 20px;
	    font-size: 37px;
	    font-weight: 600;
	}

	span{
		position: absolute;
	    color: #fff;
	    left: 20px;
	    top: 20px;
	    font-size: 37px;
	    font-weight: 600;
	}

	.yellow{
		color: #f0ad4e;
	}

	.green{
		color: #449d44;
	}

	.red{
		color: #c9302c;
	}
}

.pet-info{
	text-align: center;
	padding: 0 15px 30px 15px;

	h3{
		a{
			color: #000;
			text-decoration: none;
		}
	}

	img{
		width: 240px;
	    border-radius: 100%;
	    text-align: center;
	    border: 3px solid #fff;
	    top: -120px;
	    margin-bottom: -120px;
	    position: relative;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}

	p{
		text-align: justify;
		height: 4.3em;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	display: -webkit-box;
    	-webkit-box-orient: vertical;
    	-webkit-line-clamp: 3;
	}
}

.pet-card-links{
	height: 34px;

	span{
		margin: 9px 0 9px 0;
		display: inline-block;
	}
}

.pet-cover{
	position: relative;
    width: 100vw;
    left: calc(-50vw + 49.29687%);
    top: -20px;
    height: 600px;
    overflow: hidden;

    .pet-cover-img{
    	width: 100%;
    	top: 50%;
    	transform: translateY(-50%);
    	position: absolute;
    	height: auto;
    }

    .pet-cover-profile{
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
    	position: absolute;
    	height: auto;
    	text-align: center;
    	color: #fff;

	    img{
	    	display: inline-block;
	    	border-radius: 100%;
		    border: 3px solid #fff;
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	    }

	    h1{
	    	font-size: 45px;
	    }

	    p{
	    	font-size: 17px;
	    	font-style: italic;
	    	text-align: justify;
		    max-height: 6.9em;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 5;
	    }
    }

    .panels-links{
    	position: absolute;
    	bottom: 0;
    	left: 50%;
    	transform: translate(-50%);

    	a{
    		color: rgba(255, 255, 255, 0.5);
    		text-decoration: none;
    		font-size: 16px;
    		padding: 0 20px 0 20px;
    		top: -15px;
    		position: relative;

    		&:hover{
    			color: rgba(255, 255, 255, 0.75);
    		}
    	}
    }
}

.panel-arrow{
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%);
}

#render-panels{
	overflow: hidden;
	position: relative;
}

.pet-profile{
	padding-top: 5px;
	overflow: auto;
}

.bar-profile-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.profile-bar{
	padding: 30px 30px 30px 30px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

    h4{
    	text-align: left;
    }
}

.left-bar{
    text-align: center;

    img{
    	margin-bottom: 20px;
    }
}

.profile-gender{
	position: absolute;
    right: 30px;
    top: 30px;
    font-size: 37px;
    font-weight: 600;
}

.right-bar{
	h4{
		padding-bottom: 10px;
	}

	span,
	a{
		width: 100%;
		margin-bottom: 10px;
		display: block;
	}
}

.pet-profile-info{
	text-align: left;

	ul{
		padding-left: 0;
		list-style-type: none;

		li{
			padding-top: 7px;

			i{
				margin-right: 8px;
			}
		}
	}
}

.nav-actions{
	padding: 30px 30px 30px 30px;
	border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;

    h4{
    	text-align: left;
    }

    img{
    	margin-bottom: 20px;
    }
}

.post-details{
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: auto;

	span{
		float: left;
		padding-top: 5px;
	}

	p{
		text-align: justify;
		display: block;
	}

	img{
		width: 100%;
	}

	.post-actions{
		padding-top: 5px;
		text-align: right;
	}
}

.overlay-pet-gallery{
	background-color: rgba(0,0,0,0.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 150ms linear 0ms;
    -khtml-transition: all 150ms linear 0ms;
    -moz-transition: all 150ms linear 0ms;
    -ms-transition: all 150ms linear 0ms;
    -o-transition: all 150ms linear 0ms;
    transition: all 150ms linear 0ms;

    &:hover{
		-webkit-opacity: 1;
		-khtml-opacity: 1;
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 1;
		opacity: 1;
		-webkit-transform: scale(1);
		-khtml-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

.overlay_content_pet{
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    a{
		color: #fff;
		font-size: 40px;
		margin-left: 10px;
		margin-right: 10px;

		&:hover{
			color: #3097D1;
		}
	}

	span{
		display: block;
		color: #fff;
		font-style: italic;
		font-family: 'Playfair Display';
		font-weight: 400;
	}
}

.pet-photo-delete{
	font-size: 30px;
	position: absolute;
    top: 15px;
    right: 17px;
    color: #fff;

    &:hover{
		color: #3097D1;
	}
}

.render-photos{
	.lead{
		margin-top: 30px;
	}
}

.pet-adoption{
	text-align: center;

    img{
    	border: 3px solid #fff;
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    	border-radius: 100%;
    }
}

.request-info{
	text-align: right;

	img{
		border-radius: 100%;
	}
}

.request-card{
    overflow: auto;
    position: relative;
}

.request-card-links{
	position: initial;

	div{
		top: 50%;
	    transform: translateY(-50%);
	    position: absolute;
	    height: auto;
	}
}

.reject-reason{
	text-align: justify;
	padding-top: 10px;	

	p{
		margin: 0 0 10px;
	    text-align: justify;
	    height: 7.3em;
	    overflow: hidden;
	    cursor: pointer;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 5;

	    &:hover{
	    	height: 100%;
	    	display: block;
	    }
	}
}

.form-post-profile{
    margin-bottom: 10px;
    padding-top: 15px;

    .col-lg-12{
    	padding: 0;
    }
}

.add_five_posts{
	text-align: center;

	.add_five_link{
		margin-top: 30px;
	}
}

/************************************USER************************************/

.user-profile{
	overflow: auto;
}

.left-bar{
	img{
		border: 3px solid #fff;
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	}
}

/************************************MASONRY************************************/


#masonry-container {
  margin-bottom: 20px;
  clear: both;
  padding-top: 5px;

  img{
  	width: 100%;
  }
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box{
	background-color: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
	padding-left: 7px !important;
    padding-right: 7px !important;
    padding-bottom: 14px !important;
} 

.box-img{
	
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.masonry-width{
	width: 100% !important;
}


/************************************FOOTER************************************/

footer{
	border-top: 1px solid #e7e7e7;
	margin-top: 30px;
	overflow: auto;
}

.footer-wrapper{
	padding-top: 30px;
	background-color: #3097D1;
	padding-bottom: 30px;
	overflow: auto;

	h3{
		font-size: 20px;
		color: white;
	}
}

.main-menu{
	li{

	}
}

.copyright{
	border-top: 1px solid #285e8e;
	text-align: center;
	padding-top: 30px;
	background-color: #3071a9;
	padding-bottom: 30px;
	color: white;
}

.footer-menu-center,
.footer-main-menu,
.navbar-default{
	ul{
		list-style-type: none;
		padding: 0px;
		li{
			a{
				color: rgba(255, 255, 255, 0.5);
				&:focus,
				&:hover{
					color: rgba(255, 255, 255, 0.75);
					background-color: none !important;
				}
			}
		}
	}
}

.footer-menu-center{
	text-align: center;
}

.footer-menu-last{
	img{
		filter: invert(100%);
		width: 50%;
		float: right;
	}
}


/************************************SCROLLER************************************/

.slick-slider {
	touch-action: auto;
	-ms-touch-action: auto;
}

.scroller-card-wrapper{
	position: relative;
}

.scroller-card{
	position: relative;
	text-align: center;

	a{
		text-decoration: none;
		color: black;
	}

	img{
		border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    width: 100%;
	}
}

.scroller{
	background-image: url('slider.png');
	background-repeat: no-repeat;
  	background-size: 100% 100%;

	.slick-list{
		padding: 70px 0 30px 0 !important;
	}

	.slick-slide{
		-webkit-transform: scale(0.8);
		-khtml-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transition: all 150ms linear 0ms;
		-khtml-transition: all 150ms linear 0ms;
		-moz-transition: all 150ms linear 0ms;
		-ms-transition: all 150ms linear 0ms;
		-o-transition: all 150ms linear 0ms;
		transition: all 150ms linear 0ms;
		-webkit-backface-visibility: hidden;
	}
	.slick-center{
		-webkit-transform: scale(1.1);
		-khtml-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	.slick-arrow{
		width: 50px;
		height: 50px;

		&:before{
			font-size: 50px;
			color: #3097D1;
		}
	}

	.slick-next {
    right: -50px;
	}

	.slick-prev {
    left: -50px;
	}

}

.octo {
    transform: rotate(45deg);
    overflow: hidden;
}

.octo1 {
    transform: rotate(-45deg);
    overflow: hidden;}


/************************************INDEX************************************/

.home-wrapper{

	.page-header{
		margin-bottom: 0 !important;

		h1{
			text-align: center;
			opacity: 0.3;
		}
	}
}


/************************************CONTACT************************************/

.contact {
	margin-top: 30px;
	margin-bottom: 30px;
}


