<h1><%= t('.greeting', recipient: @resource.email, default: "Bienvenido #{@resource.email}!") %></h1>

<p><%= t('.instruction', default: 'Puedes confirmar el email de la cuenta por medio del siguiente link:') %></p>

<p><%= link_to t('.action', default: 'Confirmar mi cuenta'),
         confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>
